@media screen and (max-width: 600px) {
  nav a,
  .align {
    display: none;
  }

  .dikho {
    display: block;
  }

  .location input {
    max-width: 300px;
    height: 30px;
  }

  main #main-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main #main-left h1 {
    font-size: 30px;
  }

  #main-left .rid-cou,
  #main-left .ultra-lower {
    display: none;
  }

  #sp-div {
    display: block;
    margin-block: 10px;
  }

  #main-right {
    display: none;
  }

  #ride-w-u {
    display: block;
    max-width: 350px;
    margin-top: 20px;
  }

  main {
    background-color: #000000;
    color: #ffffff;
  }

  #main-left button {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s;
  }

  #main-left button:hover {
    background-color: #e1e0e0;
  }

  #suggestion {
    flex-direction: column;
  }

  #suggestion .s-box {
    width: 100%;
  }

  #classic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  #classic img {
    max-width: 330px;
    margin: 20px;
  }

  .classic-left {
    align-items: center;
    text-align: center;
  }

  #another-classic {
    flex-direction: column-reverse;
  }

  #another-classic img {
    width: 330px;
    height: 330px;
  }

  #content {
    text-align: center;
    align-items: center;
    padding: 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  nav a,
  .align {
    display: none;
  }

  .dikho {
    display: block;
  }

  .btn {
    background-color: #fff;
    color: #000000;
    border-radius: 30px;
    padding: 7px 13px;
  }

  #main-left .rid-cou,
  #main-left .ultra-lower {
    display: none;
  }

  #sp-div {
    display: block;
    margin-block: 10px;
  }

  #main-right {
    display: none;
  }

  #ride-w-u {
    display: block;
    max-width: 480px;
    margin-top: 20px;
  }

  main {
    background-color: #000000;
    color: #ffffff;
  }

  #main-left button {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s;
  }

  #main-left button:hover {
    background-color: #e1e0e0;
  }

  #suggestion {
    flex-direction: column;
  }

  #suggestion .s-box {
    width: 100%;
  }

  #classic {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .classic-left {
    align-items: center;
    text-align: center;
  }

  #another-classic {
    flex-direction: column-reverse;
  }

  #content {
    text-align: center;
    align-items: center;
    padding: 20px;
  }
}
