@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background-color: #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0px auto;
  color: #ffffff;
  padding: 10px 30px;
}

nav img {
  filter: invert(1);
  width: 21px;
}

#nav-left,
#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#nav-left div {
  font-size: 30px;
  margin-right: 10px;
}

nav a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 12px;
  transition: all 0.4s;
}

nav a:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 25px;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav .btn {
  background-color: #fff;
  color: #000000;
  border-radius: 30px;
  padding: 7px 13px;
}

.btn:hover {
  background-color: #d3c7c7;
}

/* Main Section */
main {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 65px 10px;
  margin: 0px auto;
  max-width: 1200px;
  gap: 20px;
}

main #main-right iframe {
  width: 530px;
  height: 550px;
  border-radius: 10px;
}

main #main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#sp-div {
  display: none;
}

main #main-left h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
}

.rid-cou {
  display: flex;
  gap: 100px;
  margin-bottom: 20px;
}

.rid-cou img {
  width: 20px;
}

.ride {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ride img {
  width: 25px;
  background-color: #d4d4d4;
  padding: 3px;
  border-radius: 5px;
}

.courier {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.location input {
  background-color: #f5f2f2;
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
  height: 30px;
  margin-bottom: 15px;
  font-size: 18px;
}

.location .upper {
  position: relative;
}

.location .lower {
  position: relative;
}

#ride-w-u {
  display: none;
}

.location .upper #img-1 {
  position: absolute;
  top: 10px;
  left: 7px;
}

.location .upper #img-2 {
  position: absolute;
  top: 7px;
  right: 25px;
  width: 25px;
}

.lower img {
  position: absolute;
  top: 10px;
  left: 7px;
}

.ultra-lower {
  margin-block: 10px;
}

.ultra-lower input {
  border: none;
  padding: 10px 20px;
  background-color: #f5f2f2;
  border-radius: 10px;
  font-size: 18px;
  color: grey;
}

#main-left button {
  padding: 12px 22px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
}

#main-left button:hover {
  background-color: #252525;
  transition: all 0.3s;
  cursor: pointer;
}

/* Suggestions Section */
section {
  display: flex;
  justify-content: center;
  align-items: start;
  max-width: 1200px;
  margin: 100px auto;
  flex-direction: column;
  padding: 10px 35px;
}

#suggestion {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

.s-box {
  background-color: #f5f2f2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}

section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 600;
}

.s-box img {
  width: 120px;
}

.s-box h4 {
  font-size: 16px;
}

.s-box p {
  font-size: 12px;
}

.s-box span {
  font-size: 14px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
}

.s-box span:hover {
  background-color: #eae8e8;
  transition: all 0.3s;
  cursor: pointer;
}

.s-box #s-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
